body
{
 font-family:  sans-serif;
/* background: url('C:/xampp/htdocs/Web Development Project/Online Test/Photo.jpg')  ;  no-repeat center center/cover*/
 padding: 0px;
 margin: 0px;
}
#header
{
 background-color:rgb(93, 174, 194);
 text-align: center;
 margin: 0px;
 padding-top: 5px;
 color:white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  #type {
    text-align: center;
  }
  /* #section {
    text-align: center;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
   */
